/* Similar Notes container style */

.embedded-similar-notes {
    border-top: 1px solid var(--background-modifier-border);
}

.embedded-similar-notes .nav-header {
    padding: var(--size-4-3) 0 0 0;
}

.similar-notes-pane {
    margin-bottom: 12px;
}

.similar-notes-pane .tree-item-self {
    font-size: max(var(--font-ui-small), var(--font-smaller));
    align-items: center;
}

.similar-notes-pane > .tree-item-self {
    font-size: max(var(--font-ui-small), 1em);
    width: fit-content;
    color: var(--nav-heading-color);
    padding-inline-start: var(--size-4-2);
}

.similar-notes-pane .search-result-container {
    padding: var(--size-4-1) 1px var(--size-4-1);
}

.similar-notes-title {
    display: flex;
    align-items: center;
    color: var(--nav-heading-color);
    font-weight: var(--nav-heading-weight);
    font-size: max(var(--font-ui-small), 1em);
}

.similar-notes-title.is-collapsed {
    color: var(--nav-heading-color-collapsed);
}

/* Empty state message */
.similar-notes-pane .search-empty-state {
    font-size: max(var(--font-ui-small), var(--font-smaller));
}

/* Animation transition for search result previews */
.search-result-file-matches {
    max-height: 1000px; /* 충분히 큰 값으로 설정 */
    transition: max-height 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
}

.search-result-file-matches.is-collapsed {
    max-height: 0;
}
